<% provide(:title, "login") %>

<div class="row justify-content-center">
  <div class="col-5">
    <%= form_with(scope: :session, url: login_path, local: true) do |form| %>

      <%= form.label :name,"名前", class: "form-label m-1" %>
      <% if @user.present? %>
        <%= form.collection_select :id, @users, :id, :name, { include_blank: "選択してください", selected: @user.id }, class: 'form-control my-1'%>
      <% else %>
        <%= form.collection_select :id, @users, :id, :name, { include_blank: "選択してください", selected:"" }, class: 'form-control my-1'%>
      <% end %>

      <%= form.label :password, "パスワード", class: "form-label m-1" %>
      <%= form.password_field :password, class: "form-control my-1" %>
      
      <div class="d-grid gap-2">
        <%= form.submit "ログイン", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
    <%= link_to "LINEでログイン", line_login_api_login_path, class: "btn" %>
</div>