<% provide(:title, "棚卸編集") %>
<% provide(:btn_text, '棚卸更新') %>

<div class="text-center">
  <h1><%="#{@all_inventory.inventory_at.strftime("%Y年%m月")} 各部署の棚卸確認・確定" %></h1>
</div>

<div class="row justify-content-center">
  <div class="col-5">
    <%= form_with model: @all_inventory, url: all_inventory_path, local: true, method: :patch do |form| %>
    <table id ="fav-table" class="table">
      <thead>
        <tr>
          <th scope="col"><%= AllInventory.human_attribute_name("paint_id") %></th>
          <% @departments.each do |department| %>
            <th scope="col"><%= department.name %></th>
          <% end %>
          <th scope="col">合計</th>
        </tr>
      </thead>
      <tbody>
        <% @all_inventory_collections.each do |monthly_inventory|%>
          <%= fields_for 'all_inventories[]', monthly_inventory do |field| %>
          <% total_quantity_of_paint = 0 %>
          <tr>
            <td><%= monthly_inventory.paint.name %></td>
            <% @departments.each do |department| %>
              <% if inventory(department, monthly_inventory).present? %>
                <td ><%= link_to "#{inventory(department, monthly_inventory).quantity}", edit_inventory_path(inventory(department, monthly_inventory)) %></td>
                <% total_quantity_of_paint += inventory(department, monthly_inventory).quantity %>
              <% else %>
                <td><%= link_to "-", new_inventory_path(inventory_at: monthly_inventory.inventory_at, department: department, paint: monthly_inventory.paint) %></td>
              <% end %>
            <% end %>
            <td><%= total_quantity_of_paint %>
            <%= field.hidden_field :quantity, value: total_quantity_of_paint %></td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
      <div class="actions">
        <%= form.submit yield(:btn_text), class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
</div> 

