<div class="row justify-content-center text-center">
  <div class="col-12">
    <h1><%= "#{@first_day.strftime("%Y年%m月")} 棚卸まとめ" %></h1>
    <% unless @all_inventory.present? %>
      <%= link_to "棚卸登録", new_all_inventory_path(date: @first_day), class: "btn btn-primary m-1" if @first_day < Date.current.beginning_of_month %><br>
    <% else %>
      <%= link_to "棚卸編集", edit_all_inventory_path(@all_inventory), class: "btn btn-success m-1" if @first_day < Date.current.beginning_of_month %>
      <%= link_to "削除", all_inventory_path(@all_monthly_inventories, inventory_at: @first_day), data: {turbo_method: :delete,
                                                                    turbo_confirm: "#{@first_day.strftime("%Y年%m月")}の棚卸を削除しますか？"
                                                                    }, class: "btn btn-danger" %></td><br>
    <% end %>
    <%= link_to "⇦ 前月へ", all_inventories_path(date: @first_day.prev_month), class: "btn btn-info" %>
    <%= link_to "今月へ", all_inventories_path(date: @day.beginning_of_month), class: "btn btn-warning" %>
    <%= link_to "次月へ ⇨", all_inventories_path(date: @first_day.next_month), class: "btn btn-info" %>

    <h5 class="text-end">*単位：kg</h5>
    <table id ="fav-table" class="table my-3">
      <thead>
        <tr>
          <th scope="col"><%= AllInventory.human_attribute_name("paint_id") %></th>
          <th scope="col"><%= AllInventory.human_attribute_name("quantity") %></th>
        </tr>
      </thead>
      <tbody>
        <% if @all_monthly_inventories.present? %>
          <% @paints.each do |paint| %>
            <tr class="align-middle">
            <td><%= paint.name %></td>
            <% if monthly_inventory(paint).present? && monthly_inventory(paint).paint == paint %>
              <td><%= monthly_inventory(paint).quantity  %></td>
              <% else %>
              <td>-</td>
            <% end %>
          <% end %>
        <% else %>
          <tr>
            <td colspan="2"><%= @first_day <= Date.current ? "棚卸登録されていません" : "本日より先の棚卸は登録できません。" %></td>
          </tr>
        <% end %>
      </tbody>
    <table>
  </div>
</div>