<div class="row justify-content-center text-center">
  <div class="col-12">
    <h1><%= @user.department.present? ? "#{@user.department.name}の棚卸結果" : "棚卸" %></h1>
    <%= link_to "⇦ 前月へ", inventories_path(date: @first_day.prev_month), class: "btn btn-info" %>
    <%= link_to "今月へ", inventories_path(date: @day.beginning_of_month), class: "btn btn-warning" %>
    <%= link_to "次月へ ⇨", inventories_path(date: @first_day.next_month), class: "btn btn-info" %>

    <h5 class="text-end">*単位：kg</h5>
    <table class="table my-3">
      <thead>
        <tr>
          <th scope="col"><%= Inventory.human_attribute_name("paint_id") %></th>
          <th scope="col"><%= @first_day.strftime("%Y年%m月") %></th>
          <th scope="col"><%= Inventory.human_attribute_name("user_id") %></th>
          <th scope="col"><%= Inventory.human_attribute_name("created_at") %></th>
          <th scope="col"><%= Inventory.human_attribute_name("editor_id") %></th>
          <th scope="col"><%= Inventory.human_attribute_name("updated_at") %></th>

        </tr>
      </thead>
      <tbody>
      <% if @department_monthly_inventoies.present? %>
        <% @department_monthly_inventoies.each do |inventory| %>
          <tr class="align-middle">
            <td><%= inventory.paint.name %></td>
            <td><%= link_to "#{inventory.quantity}", edit_inventory_path(inventory) %></td>
            <td><%= inventory.user.name %></td>
            <td><%= inventory.created_at.strftime("%m/%d %R") %></td>
            <% if inventory.created_at != inventory.updated_at %>
              <td><%= inventory.editor.name %></td>
              <td><%= inventory.updated_at.strftime("%m/%d %R") %></td>
            <% else %>
              <td>-</td>
              <td>-</td>
            <% end %>
            <td><%= link_to "削除", inventory_path(inventory), data: {
                    turbo_method: :delete,
                      turbo_confirm: "本当に削除しますか？"
                    }, class: "btn btn-sm btn-danger" %></td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="6">棚卸登録されていません。</td>
        </tr>
      <% end %>
      </tbody>
    <table>
  </div>
</div>