<div class="row justify-content-center text-center">
  <div class="col-12">
    <h1><%= @user.department.present? ? "#{@user.department.name}の棚卸結果" : "棚卸" %></h1>
    <%= link_to "⇦ 前月へ", inventories_path(date: @first_day.prev_month), class: "btn btn-info" %>
    <%= link_to "今月へ", inventories_path(date: @day.beginning_of_month), class: "btn btn-warning" %>
    <%= link_to "次月へ ⇨", inventories_path(date: @first_day.next_month), class: "btn btn-info" %>

    <h5 class="text-end">*単位：kg</h5>
    <table class="table my-3">
      <thead>
        <tr>
          <th scope="col">塗料名</th>
          <th scope="col"><%= @first_day.strftime("%Y年%m月") %></th>
        </tr>
      </thead>
      <% if @paints.present? %>
      <tbody>
        <% @paints.each do |paint| %>
          <tr class="align-middle">
            <td><%= paint.name %></td>
            <% @department_monthly_inventory.where(paint_id: paint.id).each do |inventory| %>
              <td><%= inventory.quantity %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
      <% end %>
    <table>
  </div>
</div>