<%= form_with(model:[order,arrival]) do |form| %>
  <%= form.label "塗料", class: "form-label m-1" %>
  <%= form.collection_select :order, @paints, :id, :name, { selected: order.paint.id }, disabled: true, class: 'form-control my-1'%>

  <%= form.label :user, class: "form-label m-1" %>
  <%= form.collection_select :user, @users, :id, :name, { selected: current_user.id }, class: 'form-control my-1'%>

  <%= form.label :arrival_at, class: "form-label m-1" %>
  <%= form.date_field :arrival_at, value: Date.today, class: 'form-control my-1'%>

  <%= form.label :lot_number, class: "form-label m-1" %>
  <%= form.text_field :lot_number, class: "form-control my-1" %>

  <%= form.label :quantity, class: "form-label m-1" %><br>
  <%# maxは仮置き。のちに発注量ー総入荷量にする %>
  <%= form.number_field :quantity, min: "0.001", max: order.quantity, step: "0.001", class: "form-control my-1" %>

  <div class="d-grid gap-2">
    <%= form.submit yield(:btn_text), class: "btn btn-primary my-1" %>
  </div>
<% end %>