<%= form_with model: user do |form| %>
  <%= render 'shared/error_messages' %>

  <%= form.label :name, class: "form-label m-1" %><br>
  <%= form.text_field :name, class: "form-control my-1" %>
  
  <div class="d-grid gap-2">
    <%= form.submit yield(:btn_text), class: "btn btn-primary" %>
  </div>
<% end %>