<% provide(:title, "回答情報編集") %>
<% provide(:btn_text, '更新') %>

<div class="text-center">
  <h1>発注登録</h1>
</div>

<div class="row justify-content-center">
  <div class="col-3">
    <h3>回答情報</h3>
    <p class="fw-bold"><%= "発注量トータル : #{@total}" %></p>
    
    <p><%= "#{Order.human_attribute_name("order_on")} : #{@answer.order.order_on.strftime("%Y / %m / %d")}" %></p>
    <p class="fw-bold"><%= "#{Order.human_attribute_name("paint")} : #{@answer.order.paint.name}" %></p>
    <p><%= "#{Order.human_attribute_name("quantity")} : #{@answer.order.quantity}" %></p>
    <p class="fw-bold"><%= "残量[kg] : #{answers_helper_residual(@answer)}" %></p>
    <p class="fw-bold"><%= "#{Order.human_attribute_name("desired_on")} : #{@answer.order.desired_on.strftime("%Y / %m / %d")}" %></p>
    <p><%= "#{Order.human_attribute_name("note")} : #{@answer.order.note.present? ? @answer.order.note : "-"}" %></p>
  </div>
  <div class="col-5">
    <%= render "form", answer: @answer , order: @answer.order %>
  </div>
</div>