<%= form_with model: collections, url: orders_path, local: true do |form| %>
  <div>
    <table class="tabale boder-0">
      <tr>
        <td>
          <%= form.label :user, class: "form-label m-1" %>
          <%= form.collection_select :user_id, @users, :id, :name, { selected: current_user.id }, class: 'form-control my-1'%>
        </td>
        <td>
          <%= form.label :order_on, class: "form-label my-1" %><br>
          <%= form.date_field :order_on, value: Date.current, max: Date.current, class: "form-control my-1" %>
        </td>
        <td>
          <%= form.label :desired_on, class: "form-label m-1" %>
          <% if @order.present? && @order.desired_on.present? %>
          <%= form.date_field :desired_on, value: @order.desired_on.to_date, class: 'form-control my-1'%>
          <% elsif @last_order.present? && @last_order.desired_on %>
          <%= form.date_field :desired_on, value: @last_order.desired_on.to_date, class: 'form-control my-1'%>
          <% else %>
          <%= form.date_field :desired_on, value: Date.today.next_month, class: 'form-control my-1'%>
          <% end %>
        </td>
      </tr>
    </table>
  </div>

  <div>
    <table>
      <thead>
        <th scope="col"><%= Order.human_attribute_name("paint_id") %></th>
        <th scope="col"><%= Order.human_attribute_name("quantity") %></th>
        <th scope="col"><%= Order.human_attribute_name("note") %></th>
        <th scope="col"><%= Order.human_attribute_name("unit_price") %></th>
      </thead>
      <% collections.collection.each do |order|%>
        <%= fields_for 'orders[]', order do |field| %>
          <tbody>
            <tr>
              <td>
                <%= field.collection_select :paint_id, @paints, :id, :name, {  include_blank: "選択してください" }, class: 'form-control my-1' %>
              </td>
              <td>
                <%= field.number_field :quantity, min: "0", step: "0.001", class: "form-control my-1" %>
              </td>
              <td>
                <%= field.text_field :note, class: 'form-control my-1'%>
              </td>
              <td>
                <% if order.present? && order.unit_price.present? %>
                  <%= field.number_field :unit_price, min: "0", step: "0.001", value: order.unit_price,class: 'form-control my-1' %>
                <% end %>
              </td>
            </tr>
          </tbody>
        <% end %>
      <% end %>
    </table>
  </div>

  <div class="d-grid gap-2">
    <%= form.submit yield(:btn_text), class: "btn btn-primary" %>
  </div>
<% end %>