<%= form_with model: order do |form| %>
 <%= render 'shared/error_messages_of_orders' %> 

  <%= form.label :user, class: "form-label m-1" %>
  <% if @order.user_id.present? %>
    <%= form.collection_select :user_id, @users, :id, :name, { selected: @order.user_id }, class: 'form-control my-1'%>
  <% else %>
    <%= form.collection_select :user_id, @users, :id, :name, { selected: current_user.id }, class: 'form-control my-1'%>
  <% end %>

  <%= form.label :order_on, class: "form-label m-1" %>
  <%= form.date_field :order_on, value: Date.today, class: 'form-control my-1'%>

  <%= form.label :paint, class: "form-label m-1" %>
  <% if @order.paint_id.present? %>
    <%= form.collection_select :paint_id, @paints, :id, :name, { selected: @order.paint_id }, class: 'form-control my-1'%>
  <% else %>
    <%= form.collection_select :paint_id, @paints, :id, :name, {  include_blank: "選択してください" }, class: 'form-control my-1'%>
  <% end %>

  <%= form.label :quantity, class: "form-label m-1" %><br>
  <%= form.number_field :quantity, min: "0", step: "0.001", class: "form-control my-1" %>

  <%= form.label :desired_on, class: "form-label m-1" %>
  <%= form.date_field :desired_on, value: Date.today.next_month, class: 'form-control my-1'%>

  <%= form.label :note, class: "form-label m-1" %>
  <%= form.text_field :note, class: 'form-control my-1'%>

  <div class="d-grid gap-2">
    <%= form.submit yield(:btn_text), class: "btn btn-primary" %>
  </div>
<% end %>