<% provide(:title, "発注一覧") %>

<div class="text-center">
  <h1>発注一覧</h1>
</div>
<div>
  <%= link_to "発注登録", new_order_path, class: "btn btn-primary m-1" %>
    <% if @orders.present? %>
      <div class="row justify-content-center text-center">
        <div class="col-8">
          <table class="table">
            <thead>
              <tr>
                <th scope="col"><%= Order.human_attribute_name("paint") %></th>

                <th scope="col"><%= Order.human_attribute_name("order_on") %></th>
                <th scope="col"><%= Order.human_attribute_name("desired_on") %></th>
                <th scope="col"><%= Order.human_attribute_name("quantity") %></th>
                <th scope="col"><%= Order.human_attribute_name("note") %></th>
                <th scope="col"><%= Order.human_attribute_name("unit_price") %></th>
                <th scope="col"><%= Order.human_attribute_name("total_price") %></th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
            <% @orders.each do |order| %>
                <tr class="align-middle">
                  <td><%= link_to order.paint.name, order %></td>

                  <td><%= order.order_on.strftime("%Y / %m / %d") if order.order_on.present? %></td>
                  <td><%= order.desired_on.present? ? order.desired_on.strftime("%Y / %m / %d") : '成行'  %></td>
                  <td><%= order.quantity %></td>
                  <td><%= order.note.present? ? order.note : '-'  %></td>
                  <td><%= order.unit_price.present? ? order.unit_price : '-'  %></td>
                  <td><%= order.total_price.present? ? order.total_price : '-'  %></td>
                  <td><%= link_to "編集", edit_order_path(order), class: "btn btn-sm btn-success" %></td>
                  <td><%= link_to "削除", order_path(order), data: {
                    turbo_method: :delete,
                      turbo_confirm: "本当に削除しますか？"
                    }, class: "btn btn-sm btn-danger" %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
</div>




