<% provide(:title, "#{@order.paint.name}発注情報") %>

<div class="text-center">
  <h1>発注情報</h1>
</div>

<div class="row justify-content-center text-center">
  <div class="col-4">
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th scope="col">項目</th>
          <th scope="col">登録内容</th>
        </tr>
      </thead>
      <tbody>
          <td scope="row"><%= Order.human_attribute_name("user") %></td>
          <td><%= @order.user.name %></td>
        </tr>
        <tr>
          <td scope="row"><%= Order.human_attribute_name("order_on") %></td>
          <td><%= @order.order_on.strftime("%Y / %m / %d") %></td>
        </tr>
        <tr>
          <td scope="row"><%= Order.human_attribute_name("quantity") %></td>
          <td><%= @order.quantity %></td>
        </tr>
        <tr>
          <td scope="row"><%= Order.human_attribute_name("desired_on") %></td>
          <td><%= @order.desired_on.strftime("%Y / %m / %d") %></td>
        </tr>
        <tr>
          <td scope="row"><%= Order.human_attribute_name("note") %></td>
          <td><%= @order.note %></td>
        </tr>
        <tr>
          <td scope="row"><%= Order.human_attribute_name("unit_price") %></td>
          <td><%= @order.unit_price.present? ? @order.unit_price : "-" %></td>
        </tr>
        <tr>
          <td scope="row"><%= Order.human_attribute_name("total_price") %></td>
          <td><%= @order.total_price.present? ? @order.total_price : "-" %></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td scope="row"><%= Order.human_attribute_name("registerer") %></td>
          <td><%= @order.registerer.name %></td>
        </tr>
        <tr>
          <td scope="row"><%= Order.human_attribute_name("created_at") %></td>
          <td><%= @order.created_at.strftime("%Y / %m / %d %k:%M") %></td>
        </tr>
        <tr>
          <td scope="row"><%= Order.human_attribute_name("editor") %></td>
          <td><%= @order.created_at.strftime("%Y%m%d%k%M") == @order.updated_at.strftime("%Y%m%d%k%M") ? "-" : @order.editor.name%></td>
        </tr>
        <tr>
          <td scope="row"><%= Order.human_attribute_name("updated_at") %></td>
          <td><%= @order.created_at.strftime("%Y%m%d%k%M") == @order.updated_at.strftime("%Y%m%d%k%M") ? "-" : @order.updated_at.strftime("%Y / %m / %d %k:%M") %></td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>


<ul>
  <li><%= link_to "編集", edit_order_path(@order), class: "btn btn-success m-1" %></li>
  <li><%= link_to "削除", order_path(@order), data: {
                    turbo_method: :delete,
                    turbo_confirm: "本当に削除しますか？"
                  }, class: "btn btn-danger m-1" %></li>
  <li><%= link_to "一覧に戻る", orders_path, class: "btn btn-secondary m-1" %></li>
</ul>
